/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


  /* Transición suave entre colores */
@keyframes rainbow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  /* Aplicar el gradiente a la clase */
  .rainbow-text {
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400% 400%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: rainbow 6s ease infinite;
  }