<div class="w-full flex flex-col items-center justify-center gap-10">
  <h2 class="text-3xl font-bold text-gray-900 mt-6">Peliculas</h2>

  <!-- Botón para ir a la página de creación -->
  <button
    [routerLink]="['/films/create']"
    class="px-6 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none transition-all duration-200"
  >
    Crear Nueva Película
  </button>

  <div class="w-[70%] flex flex-col items-center justify-center gap-10">
    <div
      class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6 p-4"
    >
      <div
        *ngFor="let film of films"
        class="max-w-xs bg-white border border-gray-200 rounded-lg shadow-md overflow-hidden transition-all hover:scale-105 hover:shadow-xl"
      >
        <a [routerLink]="['/films', film.filmId]" class="block">
          <div class="flex p-4">
            <svg
              class="w-24 h-24 rounded-full mr-4 text-gray-400"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 4h18v16H3V4zm14 10H7v-2h10v2z"
              />
            </svg>
            <div class="flex flex-col justify-between">
              <h3 class="text-lg font-semibold text-gray-800">
                {{ film.title }}
              </h3>
            </div>
          </div>
        </a>

        <!-- Botones de editar y eliminar en un div separado -->
        <div class="flex gap-4 mt-2 p-4">
          <button
            [routerLink]="['/films/edit', film.filmId]"
            class="p-2 w-12 h-12 bg-gray-800 text-white rounded-full hover:bg-gray-500 focus:outline-none items-center flex justify-center transition-all duration-200 ease-in-out transform hover:scale-105"
          >
            <img src="edit.svg" alt="Editar" class="w-8 h-8" />
          </button>

          <button (click)="onDeleteFilm(film.filmId, $event)"
            class="p-2 w-12 h-12 bg-red-500 text-white rounded-full hover:bg-red-600 focus:outline-none items-center flex justify-center transition-all duration-200 ease-in-out transform hover:scale-105"
          >
            <img src="delete.svg" alt="Eliminar" class="w-8 h-8" />
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Paginación -->
  <div class="w-full flex justify-center items-center space-x-4 m-6">
    <button
      class="px-4 py-2 text-gray-600 rounded-md border border-gray-300 hover:bg-gray-100 focus:outline-none disabled:opacity-50 transition-all"
      (click)="goToFirstPage()"
      [disabled]="currentPage === 0"
    >
      <span class="font-semibold">Primera</span>
    </button>

    <button
      class="px-4 py-2 text-gray-600 rounded-md border border-gray-300 hover:bg-gray-100 focus:outline-none disabled:opacity-50 transition-all"
      (click)="goToPreviousPage()"
      [disabled]="currentPage === 0"
    >
      <span class="font-semibold">Anterior</span>
    </button>

    <div class="flex items-center space-x-2">
      <button
        *ngIf="currentPage > 1"
        class="px-3 py-1 text-gray-600 rounded-md border border-gray-300 hover:bg-gray-100 focus:outline-none"
        (click)="goToPage(currentPage - 1)"
      >
        {{ currentPage }}
      </button>
      <button
        class="px-3 py-1 text-white rounded-md bg-gray-600 focus:outline-none"
        [class.bg-gray-600]="currentPage === currentPage"
        [class.text-white]="currentPage === currentPage"
      >
        {{ currentPage + 1 }}
      </button>
      <button
        *ngIf="currentPage < totalPages - 2"
        class="px-3 py-1 text-gray-600 rounded-md border border-gray-300 hover:bg-gray-100 focus:outline-none"
        (click)="goToPage(currentPage + 1)"
      >
        {{ currentPage + 2 }}
      </button>
    </div>

    <button
      class="px-4 py-2 text-gray-600 rounded-md border border-gray-300 hover:bg-gray-100 focus:outline-none disabled:opacity-50 transition-all"
      (click)="goToNextPage()"
      [disabled]="currentPage === totalPages - 1"
    >
      <span class="font-semibold">Siguiente</span>
    </button>

    <button
      class="px-4 py-2 text-gray-600 rounded-md border border-gray-300 hover:bg-gray-100 focus:outline-none disabled:opacity-50 transition-all"
      (click)="goToLastPage()"
      [disabled]="currentPage === totalPages - 1"
    >
      <span class="font-semibold">Última</span>
    </button>

    <div class="ml-6 flex flex-row gap-2 items-center">
      <label class="text-gray-600" for="pageSize">Mostrar</label>
      <select
        id="pageSize"
        class="px-4 py-2 text-gray-600 text-center bg-white border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-300"
        [(ngModel)]="pageable.pageSize"
        (change)="onPageSizeChange()"
      >
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
    </div>
  </div>
</div>
