<div class="w-full max-w-4xl mx-auto mt-8 p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-3xl font-bold text-gray-900">
      {{ isEditMode ? 'Editar category' : 'Crear Nuevo category' }}
    </h2>
  
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="mt-6 space-y-6">
      <!-- Nombre del category -->
      <div class="flex flex-col">
        <label for="categoria" class="text-gray-700 font-medium">Nombre</label>
        <input
          type="text"
          id="categoria"
          formControlName="categoria"
          class="mt-2 p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Categoria"
          required
        />
        <div *ngIf="categoryForm.get('categoria')?.invalid && categoryForm.get('categoria')?.touched" class="text-red-500 text-sm">
          La Categoría es obligatoria
        </div>
      </div>

  
      <!-- Botón de Enviar -->
      <div class="flex justify-center mt-6 gap-4">
        <button
          type="submit"
          [disabled]="categoryForm.invalid"
          class="px-6 py-3 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300 disabled:opacity-50"
        >
          {{ isEditMode ? 'Actualizar category' : 'Crear category' }}
        </button>
        <a
          type="button"
          class="px-6 py-3 bg-gray-500 text-white rounded-lg hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-300"
          [routerLink]="['/category']"
        >
          Volver a categorias
        </a>
      </div>
    </form>
  </div>
  