<div class="w-full max-w-4xl mx-auto mt-8 p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-3xl font-bold text-gray-900">
      {{ isEditMode ? 'Editar idioma' : 'Crear Nuevo Idioma' }}
    </h2>
  
    <form [formGroup]="languageForm" (ngSubmit)="onSubmit()" class="mt-6 space-y-6">

      <div class="flex flex-col">
        <label for="idioma" class="text-gray-700 font-medium">Idioma</label>
        <input
          type="text"
          id="idioma"
          formControlName="idioma"
          class="mt-2 p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Idiomas"
          required
        />
        <div *ngIf="languageForm.get('idioma')?.invalid && languageForm.get('idioma')?.touched" class="text-red-500 text-sm">
          El Idioma es obligatorio
        </div>
      </div>

  

      <div class="flex justify-center mt-6 gap-4">
        <button
          type="submit"
          [disabled]="languageForm.invalid"
          class="px-6 py-3 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300 disabled:opacity-50"
        >
          {{ isEditMode ? 'Actualizar Idioma' : 'Crear Idioma' }}
        </button>
        <a
          type="button"
          class="px-6 py-3 bg-gray-500 text-white rounded-lg hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-300"
          [routerLink]="['/language']"
        >
          Volver a idiomas
        </a>
      </div>
    </form>
  </div>
  