<div class="w-full max-w-4xl mx-auto mt-8 p-6 bg-white shadow-lg rounded-lg">
  <h2 class="text-3xl font-bold text-gray-900">Crear Nuevo Actor</h2>

  <form
    *ngIf="actorForm"
    [formGroup]="actorForm"
    (ngSubmit)="onSubmit()"
    class="mt-6 space-y-6"
  >
    <!-- Nombre del actor -->
    <div class="flex flex-col">
      <label for="nombre" class="text-gray-700 font-medium">Nombre</label>
      <input
        type="text"
        id="nombre"
        formControlName="nombre"
        class="mt-2 p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Nombre del actor"
        required
      />
      <div
        *ngIf="
          actorForm.get('nombre')?.invalid && actorForm.get('nombre')?.touched
        "
        class="text-red-500 text-sm"
      >
        El nombre es requerido.
      </div>
    </div>

    <!-- Apellido del actor -->
    <div class="flex flex-col">
      <label for="apellidos" class="text-gray-700 font-medium">Apellidos</label>
      <input
        type="text"
        id="apellidos"
        formControlName="apellidos"
        class="mt-2 p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Apellidos del actor"
        required
      />
      <div
        *ngIf="
          actorForm.get('apellidos')?.invalid &&
          actorForm.get('apellidos')?.touched
        "
        class="text-red-500 text-sm"
      >
        Los Apellidos son requeridos.
      </div>
    </div>

    <!-- Botón de Enviar -->
    <div class="flex justify-center mt-6 gap-4">
      <button
        type="submit"
        [disabled]="actorForm.invalid"
        class="px-6 py-3 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300 disabled:opacity-50"
      >
        Crear Actor
      </button>
      <a
        type="button"
        class="px-6 py-3 bg-gray-500 text-white rounded-lg hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-300"
        [routerLink]="['/actors']"
      >
        Volver a Actores
      </a>
    </div>
  </form>
</div>
