<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Películas</title>
</head>
<body>
    <div style="width: 100%; display: flex; justify-content: center;">
        <div style="width: 50%; display: flex; flex-direction: column; justify-content: center;">
            <h1 style="text-align: center;">Películas</h1>
            <table border="1" style="width: 100%; text-align: center; margin: 0 auto; border-collapse: collapse;">
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Título</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Bucle para iterar sobre las películas y mostrarlas en la tabla -->
                    <tr th:each="film : ${films}">
                        <td th:text="${film.filmId}" style="display: none;"></td>
                        <td th:text="${film.title}" style="padding: 10px;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    
    
</body>
</html>
