<main
  class="w-full h-screen flex justify-center items-center bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-white"
>
  <div class="w-full h-full text-center px-6 py-12 md:px-12 md:py-24 max-w-lg mx-auto flex flex-col justify-center items-center">
    <span
      class="text-5xl font-extrabold mb-6 animate__animated animate__fadeIn animate__delay-1s"
    >
      Me encanta el olor a
    </span>
    <span class="text-8xl mb-6 rainbow-text font-bold p-5">
      Angular
    </span>
    
    <span class="text-5xl font-extrabold mb-6 animate__animated animate__fadeIn animate__delay-1s mb-5"> por la mañana </span>
    <p class="text-xl mb-6 animate__animated animate__fadeIn animate__delay-2s">
      Es tu primera vez aquí, ¿verdad? Se nota, pareces un novato, más te vale
      que te pongas las pilas.
    </p>
    <!-- <div class="mt-8 animate__animated animate__zoomIn animate__delay-3s">
      <button
        class="px-6 py-3 bg-purple-700 hover:bg-purple-600 text-white text-xl rounded-full transition duration-300"
      >
        Comienza Ahora
      </button>
    </div> -->
  </div>
</main>

<router-outlet />
