<nav class="bg-gray-800 p-4">
  <div class="max-w-7xl mx-auto flex justify-between items-center px-5">
    <div class="text-white text-2xl">
      <img src="/logo.png" alt="" class="w-10 h-10 inline-block mr-2" />
      <span class="hidden md:inline-block">Film Portal</span>
    </div>

    <div class="hidden md:flex space-x-6">
      <a routerLink="/home" routerLinkActive="active" class="cursor-pointer text-white">Inicio</a>
      <a routerLink="/actors" routerLinkActive="active" class="cursor-pointer text-white">Actores</a>
      <a routerLink="/films" routerLinkActive="active" class="cursor-pointer text-white">Peliculas</a>
      <a routerLink="/category" routerLinkActive="active" class="cursor-pointer text-white">Categorias</a>
      <a routerLink="/language" routerLinkActive="active" class="cursor-pointer text-white">Idiomas</a>

    </div>

    <div class="md:hidden">
      <button
        (click)="toggleMobileMenu()"
        id="mobile-menu-button"
        class="text-white"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          ></path>
        </svg>
      </button>
    </div>
  </div>

  <div
    id="mobile-menu"
    class="md:hidden hidden bg-gray-800 text-white p-4 space-y-4"
  >
    <a routerLink="/home" class="block cursor-pointer text-white">Inicio</a>
    <a routerLink="/actors" class="block cursor-pointer text-white">Actores</a>
    <a routerLink="/films" class="block cursor-pointer text-white">Peliculas</a>
    <a routerLink="/categories" class="block cursor-pointer text-white">Categorias</a>
    <a routerLink="/language" class="block cursor-pointer text-white">Categorias</a>

  </div>
</nav>
