<!-- <p>demos works!</p> -->
<div class="w-screen h-screen flex flex-col justify-center items-center p-10 gap-5">
  <div class="w-full h-full flex justify-center items-center text-green-500 overflow-hidden relative gap-5">
    <input
      type="button"
      value="Error"
      (click)="vm.add('Esto es una notificación de error')"
      class="w-[50%] h-full px-6 py-2 text-white bg-red-600 rounded-md hover:bg-red-700 transition duration-200 text-9xl font-cinzel"
    />
    <input
      type="button"
      value="Warn"
      (click)="
        vm.add('Esta notificación es un aviso', vm.NotificationType.warn)
      "
      class="w-[50%] h-full px-6 py-2 text-white bg-yellow-500 rounded-md hover:bg-yellow-600 transition duration-200 text-9xl font-cinzel"
    />
  </div>
  <div class="w-full h-full flex justify-center items-center text-green-500 overflow-hidden relative gap-5">
    <input
      type="button"
      value="Info"
      (click)="
        vm.add('Solo una notificación informativa', vm.NotificationType.info)
      "
      class="w-[50%] h-full px-6 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-600 transition duration-200 text-9xl font-cinzel"
    />
    <input
      type="button"
      value="Log"
      (click)="
        vm.add('Para trazar con notificaciones', vm.NotificationType.log)
      "
      class="w-[50%] h-full px-6 py-2 text-white bg-green-500 rounded-md hover:bg-green-600 transition duration-200 text-9xl font-cinzel"
    />
  </div>
</div>
